[submodule "quasar-docker"]
	path = quasar-docker
	url = git@github.com:Dounder/quasar-docker.git
[submodule "todo-rest"]
	path = todo-rest
	url = git@github.com:Dounder/vtodo-animations.git
[submodule "drello"]
	path = drello
	url = git@github.com:Dounder/drello-frontend.git
[submodule "weather-app"]
	path = weather-app
	url = git@github.com:Dounder/vue-weather-app.git
