[submodule "quasar-docker"]
	path = quasar-docker
	url = git@github.com:Dounder/quasar-docker.git
[submodule "todo-rest"]
	path = todo-rest
	url = git@github.com:Dounder/vtodo-animations.git
[submodule "drello"]
	path = drello
	url = git@github.com:Dounder/drello-frontend.git
[submodule "weather-app"]
	path = weather-app
	url = git@github.com:Dounder/vue-weather-app.git
[submodule "palette"]
	path = palette
	url = git@github.com:Dounder/palette.git
[submodule "vuetify-boilerplate"]
	path = vuetify-boilerplate
	url = git@github.com:Dounder/vuetify-boilerplate.git
[submodule "vuewind"]
	path = vuewind
	url = https://github.com/Dounder/vuewind.git
